# Ignore Python bytecode files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore SQLite database file (if you don't want to include it in the Docker image)
db.sqlite3

# Ignore environment variables file
# .env

# Ignore the node_modules directory from React (to be rebuilt inside the container)
node_modules

# Ignore build artifacts
build/
dist/
*.log

# Ignore IDE/editor-specific files
.vscode/
.idea/

# Ignore Docker-related files
Dockerfile

# Ignore virtual environment
venv/
env/

# Ignore static files generated during development
/static/

# Ignore media files (optional)
media/